*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
 }

 ::selection{
  background-color: #C57B57;
  color:#F7DBA7;
 }

body {
  background-color: hsl(0, 1%, 91%);
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
