.introduction{
    background-color: #A23E48;
    margin-top:70px;
    margin-left:30px;
    padding:10px;
    color: #FFF275;
    width: 800px;
    height: 310px;
    font-size: 35px;
    font-family: 'DM Serif Display', serif;
    border-bottom-style:solid;
    border-bottom-width: 10px;
    border-color:#FF8C42;
}