/* .entireVideoPlayer{
    height:400px;
    width:600px;
} */

#videoWrapper {  
    position: relative;
    width: 80%;
    display: flex;
}
  
  #video {
    width: 100%;
    height: auto;
  }
  
  #videoOverlay {  
    display: flex;
    width: 100%;
    height: 15%;
    background-color: rgba(255,255,255,.1);
    position:absolute;
    bottom: 0;
    opacity: 0;    
  }

  #videoWrapper:hover #videoOverlay {
    opacity: 1;
  }

#playButton{
    background:none;
    border:none;
    cursor: pointer;
    padding-left: 2%;
    padding-right: 5%;
}

#playButton:hover *{
    fill: #CE4760;
}

#timeline{
    /* -webkit-appearance: none; */
    position: relative;
    background: transparent;
    cursor: pointer;
    /* background-color: white; */
    width: 80%;
}

/* #timeline::-webkit-slider-runnable-track{
} */

#timeline::-moz-range-track{
    background-color: #CE4760;
}

#timeline::-moz-range-thumb{
    background-color:whitesmoke;
    border:none;
}

#timeline::-webkit-slider-thumb{
    visibility: hidden;
}