@import url('https://fonts.googleapis.com/css2?family=Archivo:wght@300&family=Cambo&display=swap');

*{
    box-sizing: border-box;
}

body{
    display:flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    background-color: #8dab7f;
    color: #394032;
    font-family: 'Archivo', sans-serif;
}

::-moz-selection { /* Code for Firefox */
    color: #cfee9e;
    background: #394032;
}
  
  ::selection {
    color: #cfee9e;
    background: #394032;
  }

.heading{
    font-family: 'Cambo', serif;
    font-size:40px;
    padding-bottom: 20px;
}

div{
    padding: 10px;
}

.card{
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #cfee9e;
    color: #394032;
    border-radius: 15px;
    width:400px;
    box-shadow: 0px 0px 20px #394032;
}

.country{
    font-size:28px;
}

.flagDiv{
    display: flex;
    align-items: center;
    justify-content: center;
    width:300px;
    height:200px;
    text-align: center;
}

#flag{
    height:100%;
    width:auto;
    max-width:100%;
}

.btn{
    font-family: 'Archivo', sans-serif;
    border-width: 0px;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 30px;
    padding-right: 30px;
    border-radius: 20px;
    background-color: #394032;
    color: #cfee9e;
    font-size: 16px;
}

.btn:hover{
    background-color: #8dab7f;
    color: #394032;
    cursor:pointer;
}

.countryForm{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 200px;
    text-align: center;
    margin:auto;
}

.formContent{
    display:flex;
    margin:auto;
}

label{
    margin-top:15px;
}

#capitalGuess{
    border-width:0px;
    background-color: #394032;
    color: #cfee9e;
    font-family: 'Archivo', sans-serif;
    font-size: 20px;
    width:130px;
    margin-top: 0px;
    margin-bottom: 20px;
    box-shadow: 0px 3px 7px #8dab7f;
}

#capitalGuess:focus{
    outline:none;
}

.afterSubmit{
    display: none;
}

.madeBy{
    padding: 20px;
    font-size:12px;
}

.madeBy a{
    color: #cfee9e;
    font-size:12px;
}

.madeBy a:hover{
    color: #394032;
}

@media only screen and (max-width: 600px){

    .card{
        width: 300px;
    }

    #flag{
        width: 200px;
    }

}